.aigwl_masonary_gallery.gallery {
  max-width: unset !important;
}
.aigwl_masonary_gallery .grid-sizer, .aigwl_masonary_gallery .grid-item {
    width: 22.85%;
  }
.aigwl_masonary_gallery .gutter-sizer{
    width:2.5%
  }
.aigwl_masonary_gallery .grid-item {
    float: left;
    margin-bottom:2.5%;
}
.aigwl_masonary_gallery .grid-item img {
    width: 100%;
    display: block; 
}
.aigwl_masonary_gallery .grid-item:hover .aigwl_masonary_gallery_overlay {
	-webkit-transform: scale(1);
    -ms-transform: scale(1);
     transform: scale(1);
} 
.aigwl_masonary_gallery_overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #000;
	opacity:0.7;
	overflow: hidden;
	width: 100%;
	height: 100%;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	-webkit-transition: .3s ease;
	transition: .3s ease;
}
.aigwl_masonary_gallery_img_title {
	color: white;
	font-size: 1.3rem;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
} 
/* Wooble Vertical Effect */
@-webkit-keyframes wobble-vertical-effect {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes wobble-vertical-effect {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.wobble-vertical-effect {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.wobble-vertical-effect:hover, .wobble-vertical-effect:focus, .wobble-vertical-effect:active {
  -webkit-animation-name: wobble-vertical-effect;
  animation-name: wobble-vertical-effect;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/* Grey Scale Effect */
.aigwl_grey_scale{
  filter: grayscale(100%);
}

  /* Image Hover Zoom Effect */
.img-hover-zoom:not(.img-hover-zoom--empty):hover {
  filter: drop-shadow(0 0 10px rgba(0,0,0,.3));
}
.img-hover-zoom {
  overflow: hidden;
}
.img-hover-zoom--basic:hover img {
  transform: scale(1.3);
}
.img-hover-zoom--basic img {
  transition: transform .9s ease;
}

 /* Image Hover Zoom out Effect */
 .img-hover-zoom-out {
  overflow: hidden;
  width: 100%;
}
.img-hover-zoom-out img{
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
 transform: scale(1.3);
}
.img-hover-zoom-out-basic:hover img{
  transform: scale(1);
}
.img-hover-zoom-out-basic img{
  transition: transform .9s ease;
}